
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin:0;
}


#top {
    background-color: #ffffff;
    height: 7em;
    position:fixed;
    top: 0px;
    width: 100%;

}

#img {
  margin-top: 2em;
}
#banner {
    background-color: #7C7DB2;
    color: #e6e6fa;
    height: 3.3em;
    width: 100%;
}

#banner > h1 {
    font-family: Georgia, serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


#global_nav {
    background-color: orange;
    font-family: Imprima, sans-serif;
    font-size: 1.25em;
    height: 3em;
    margin-top: 23em;
    width: 100%;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;


}


#global_nav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 14px 16px;
}


#global_nav li {
    float: left;
    display: inline;
    display: block;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 14px 16px;
}
