/* Code organized by general and page-specific. Media queries follow */

/* General, including header and footer */

body {
    background-color:#ffffe6;
    font-family: Amatic SC;
    padding: 0;
    margin: 0;
}

#top {
    background-color: #ffffff;
    margin-top: 3.5em;
}

#global_nav {
    background-color: #F0450C;
    height: 2.5em;
    width: 100%;
    top: -20em;
    position: fixed;
    font-size: 1.5em;
    margin-top: 20em;
    margin-bottom: 0.5em;
}

#global_nav ul {
    margin: 0;
    padding: 0;
}

#global_nav li {
    float: left;
    display: inline;
    text-align: center;
}

#global_nav li a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 14px 16px;
    text-decoration: none;
  }

  #global_nav a:hover {
      background-color: orange;
  }

#footer {
    background-color: whitesmoke;
    color: black;

    height: 2em;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 1.25em;
    margin-top: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
    border-top: 4px solid;
    border-color: #F0450C;
}

#footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#footer li {
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    padding-left: 0.5em;
  }

h1 {
    text-align: center;
    font-size: 3.5em;
    border: 8px outset #F0450C;
    background-color: #F0450C;
    color:white;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

h2 {
    text-align: center;
    font-size: 4em;
    border: 8px outset #F0450C;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

h3 {
    text-align: center;
    font-size: 3em;
    background-color: orange;
    border: 8px outset orange;
    padding:0.3em;
    margin-left: 5em;
    margin-right:6em;

}

h4 {
    font-size: 4em;
    margin-top: 0em;
    margin-left: 1.5em;
}

h5 {
  text-align: center;
  color:white;
  font-size: 4.5em;
  padding:0em;
  margin:auto;
  margin-top:1em;
  margin-left: 2em;
  margin-right:2em;
  background-color: orange;
}

/* Page-specific */

#row1 {
    display: flex;
}

#photogallery {
    float:left;
    margin-left:2em;
    border:6px outset #eda891;
}
#times {
    margin-right: 2em;
    width:100%;
    height: 100%;
    border:6px outset #eda891;
}

#vendor {
    text-align: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 0;
    padding: 1em;
    font-size: 2.5em;
    background-color: #eda891;
    border:8px outset #eda891;
    float: none;
}

#nextcontentsection > h4 {
    font-size: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#overview {
    text-align: center;
    font-size: 3em;
    margin:auto;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
    padding:0.8em;
    background-color:#ffb84d;
}

#apples {
    font-size: 7em;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

#maincontent {
    display:flex;
    margin-bottom:5em;
}

#downtownithaca {
    margin-top: 4em;
    margin-left: 0.5em;
    border: 6px outset #ff8f66;
}

#phone_address {
    display:block;
    margin-top:2em;
    margin-left: 2em;
    padding:0em;
    text-align: center;
}

#email_address {
    display:block;
    margin-top:2em;
    margin-left: 5em;
    padding:0em;
    text-align: center;
}

#address_info {
    display:block;
    margin-top:2em;
    margin-left:1em;
    padding:0em;
    text-align: center;
}

.contactinfo {
  display: block;
  text-align: center;
  margin-right: 1em;
  margin-left: 1.2em;
  padding: 1em;
  margin-top: 0.5em;
  font-size: 2em;
  border: 6px outset #ff8f66;
}

.contactinfo > p {
  margin:0;
}

.icons {
  margin-left:1em;
}

#top img {
    margin: 0;
    width: 100%;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 600px;
    height: 400px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}
#content > h2 {
    text-align: center;
    background-color: orange;
    border: 8px outset darkorange;
    color:white;
    font-size: 4em;
    border: none;
    margin-left: 0.75em;
    margin-right:0.5em;
    margin-top: 1.1em;
    padding: 0.2em;
}

#map > img {
    border: 5px solid darksalmon;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
}

#directions {
    margin:0;
    margin:auto;
    width:80%;
}

#directions > h2 {
    text-align: center;
    font-size: 3em;
    border: none;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

#directions > div > h2 {
    text-align: center;
    font-size: 3em;
    /*border: 8px outset #ff8f66;*/
    border:none;
    background-color:orange;
    margin-left: 5em;
    margin-right:5em;
    margin-top:1em;
    padding:0.2em;
}

#directions > div > h3 {
    text-align: center;
    background-color:white;
    border: 4px #ffd199 inset;
    font-size: 2.5em;
    /*border: none;*/
    margin-left:auto;
    margin-right:auto;
    padding:0em;
    width:80%;
}

#directions > div > table {
    font-size: 1.5em;
    width: 95%;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-align: center;
}

#directions > div > p {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
    border: none;
    margin: 0;
    margin-left: 1.25em;
    margin-right:0.5em;
    padding: 0.2em;
}

th {
    height: 40px;
    border: 1px;
    color: white;
    background-color: darksalmon;
    border-style: solid;
    width: 300px;
    font-family:Crimson Text;
    font-weight: bold;
}

td {
    height: 25px;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    background-color: white;
    width: 300px;
    font-size: 0.9em;
    font-weight: lighter;
    font-family: Crimson Text;
}

td > a {
    text-decoration: none;
}

a:link, a:active, a:visited {
    color:black;
}

#driving > p {
    font-size: 5em;
}

#list {
    margin-bottom:6em;
}
#list > p {
    display: inline;
    text-align: center;
    margin: 0;
    margin: auto;
    font-size: 3em;
    margin-left: 2em;
    padding: 0.2em;
}

#parking {
    margin-left: 4em;
}

#slides {
    width: 70%;
}

/* Button code learnt and taken from: http://css3buttongenerator.com/ */
button {
    margin-left: 1.25em;
    background: #f25c59;
    background-image: -webkit-linear-gradient(top, #f25c59, #f0d287);
    background-image: -moz-linear-gradient(top, #f25c59, #f0d287);
    background-image: -ms-linear-gradient(top, #f25c59, #f0d287);
    background-image: -o-linear-gradient(top, #f25c59, #f0d287);
    background-image: linear-gradient(to bottom, #f25c59, #f0d287);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #f5a61e;
    -moz-box-shadow: 0px 1px 3px #f5a61e;
    box-shadow: 0px 1px 3px #f5a61e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 125px;
    align-self: center;
    outline: none;

}

button:hover {
    background: #f7e491;
    background-image: -webkit-linear-gradient(top, #f7e491, #f2e399);
    background-image: -moz-linear-gradient(top, #f7e491, #f2e399);
    background-image: -ms-linear-gradient(top, #f7e491, #f2e399);
    background-image: -o-linear-gradient(top, #f7e491, #f2e399);
    background-image: linear-gradient(to bottom, #f7e491, #f2e399);
    text-decoration: none;
}

#photos > img {
    margin:auto;
    display: block;
    margin-bottom: 5em;
    border: 8px #ffd199 outset;
}

#buttons {
    text-align: center;
}

#schedule > h3 {
    color: white;
    text-align: center;
    width: 80%;
    font-size: 2em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;

}

#schedule > table {
    font-size: 1.5em;
    width: 95%;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    margin-bottom: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#schedule {
    margin-bottom: 5em;
}

#attractioncontent > h3 {
    margin: 0;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    width: 60%;
}

#attractions {
    margin:0;
    margin:auto;
    text-align: center;
}

.attractionrow {
    display:inline;
    width:90%;
}

.attractionrow > img {
    border: 8px darksalmon outset;
    margin-top: 4em;
}

#mustsee {
    color: #000;
    width: 80%;
    background-image: url('../images/rsz_back.jpg');
    /* Image credits :https://eatingcloudsinitaly.com/2014/11/*/
    display: block;
    margin: auto;
    background-size: cover;
    margin-bottom: 6em;
    padding: 2em;
    border: 8px darksalmon outset;
}

#mustsee > p {
    text-align: center;
    font-size: 2.5em;
    margin:0;
    font-weight: bold;
}

td > a {
    text-decoration: none;
}

a:link, a:active, a:visited {
    color:black;
}

td:hover {
    background: red;
    color: white;
}

td:hover a {
    color: white;
}

/*************************************************************************/
/*                            Media Queries                              */
/*************************************************************************/

@media screen and (max-width: 1200px) {
    #maincontent {
      width: 60%;
    }
}

@media screen and (max-width: 480px) {

    /* Global nav */

    #global_nav li a {
       font-size:0.8em;
       padding: 6px;
       float: none;
       display: inline-block;

    }
    #global_nav li {
        float:none;
        display: block;
        background-color: #F0450C;
        border-bottom: 3px solid orange;
    }
    #global_nav a:hover {
        background-color: orange;
        width: 100%;
    }

  /* Home */

    #top img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #photogallery {
        display: none;
    }

    #apples {
        font-size: 3em;
    }

    #appleicon{
        width: 30%;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #top {
      margin-top: 15.5em;
    }

    #content {
      display:block;
      margin:0;
      margin:auto;
      font-size: 0.7em;
    }

    #content > h3 {
      margin:0;
      margin:auto;
      font-size: 2.4em;
      margin-left: 0.5em;
      margin-right:0.5em;
    }

    #row1 {
      display:block;
    }

    #times {
      width: 80%;
      margin:0;
      margin-left: auto;
      margin-right: auto;
      display:block;
    }

    #overview {
        margin: 0;
        margin: auto;
        width: 60%;
        margin-bottom: 1em;
    }

    #nextcontentsection > h4 {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }

    h5 {
        font-size:3.5em;
        margin: auto;
        margin-top: 4.5em;
        width: 80%;
    }

    /* Events schedule */

    #schedule > table {
        width: 80%;
        display: block;
        font-size:1.2em;
    }

    #event_header > h5 {
        font-size:3em;
        margin-top:5.5em;
    }

    /* Directions */

    #content > h5 {
        margin-top: 6.5em;

    }

    #directions > div > h2 {
        margin:0;
        margin:auto;
        margin-top:1.5em;
        width: 80%;
    }

    #map > img {
        width: 90%;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #directions > div > table {
        width: 80%;
    }

    th{
        font-size:0.9em;
    }

    td{
        font-size:1em;
    }

    #list > p {
        display:block;
        margin:0;
        margin:auto;
    }

    #parking {
        display:none;
    }

    /* Attractions */

    #attractioncontent {
        margin: 0;
        margin: auto;
        margin-top: 16em;
    }

    .attractionrow > img {
        width:90%;
    }


    #mustsee {
        width: 70%;
        margin-bottom:5em;
    }

    #mustsee > p {
        font-size: 1.8em;
    }

    /* Contact us */

    #maincontent {
        display:block;
        max-width: 95%;
        margin:0;
        margin:auto;
    }

    .contactinfo {
        display:center;
        text-align: center;
        margin-left: 0em;
        margin-right:0em;
        padding: 0.8em;
        font-size: 1.6em;
    }

    .icons {
        margin:0;
        margin:auto;
        margin-top:1em;
    }

    #email_address {
        margin:0;
        margin:auto;
        margin-bottom: 4em;
        font-size:1em;
    }


    #phone_address {
        margin:0;
        margin:auto;
    }

  }
