body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#top {
    background-color: #ffffff;
    margin-top: 3em;
}

#global_nav {
    background-color: #F0450C;
    font-family: Imprima, sans-serif;
    height: 2.5em;
    width: 100%;
    top: -20em;
    position: fixed;
    font-size: 1em;
    margin-top: 20em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#global_nav ul {
    margin: 0;
    padding: 0;
}

#global_nav li {
    float: left;
    display: inline;
    text-align: center;
}

#global_nav li a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 14px 16px;
    text-decoration: none;
  }

#content {
    padding: 0 0 2em 2em;
    margin-bottom: 2em;
}

#footer {
    background-color: whitesmoke;
    color: black;
    font-family: Imprima, sans-serif;
    height: 2em;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 1.25em;
    margin-top: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
    border-top: 4px solid;
    border-color: #F0450C;
}

#footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#footer li a {
    float: left;
    font-size: 100%;
    text-decoration: none;
    padding-left: 0.5em;
  }

#global_nav a:hover {
    background-color: black;
}