body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#top {
    background-color: #ffffff;
    margin-top: 3.5em;
}

#global_nav {
    background-color: #F0450C;
    font-family: Amatic SC;
    height: 2.5em;
    width: 100%;
    top: -20em;
    position: fixed;
    font-size: 1.5em;
    margin-top: 20em;

    margin-bottom: 0.5em;
}

#global_nav ul {
    margin: 0;
    padding: 0;
}

#global_nav li {
    float: left;
    display: inline;
    text-align: center;
}

#global_nav li a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 14px 16px;
    text-decoration: none;
  }

  #global_nav a:hover {
      background-color: orange;
  }

#content {
    padding: 0 0 2em 2em;
    margin-bottom: 2em;
}

#row1 {
    display:flex;

}

#nextcontentsection {
    font-family: Amatic SC;
}

#photogallery {
    border:6px outset #ffd199;
    float:left;
}
#times {
    border: 6px outset #ffd199;
    margin-right: 2em;
    width:100%;
    height: 100%;
}
#vendor {
    text-align: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding: 1em;
    font-family: Amatic SC;
    font-size: 2.5em;
    border: 6px outset #ffd199;
    float:none;
}

#overview {
    text-align: center;
    font-size: 3em;
    margin-right: 2em;
    margin-top: 0.5em;
    background-color: #ffb366;
    border: 6px outset #ff8000;

}

#apples {
    font-size: 3em;
    text-align: center;
    margin-right: 3em;
}


#phone_address {
    display:block;
    font-family: Amatic SC;
    margin-top:2em;
    padding:0em;
    text-align: center;
}

#email_address {
    display:block;
    font-family: Amatic SC;
    margin-top:2em;
    margin-left: 5em;
    padding:0em;
    text-align: center;
}

#address_info {
    display:block;
    font-family: Amatic SC;
    margin-top:2em;
    margin-left:1em;
    padding:0em;
    text-align: center;
}

#maincontent {
    display:flex;
    margin-bottom:5em;
    margin-left:3em;
    margin-right:3em;
    font-family: Amatic SC;
}

#downtownithaca {
    margin-top: 4em;
    margin-left: 0.5em;
    border: 6px outset #ff8f66;
}

.contactstyle {
  text-align: center;
  margin-right: 1em;
  margin-left: 1.2em;
  padding: 0.7em;
  margin-bottom:0em;
  margin-top:0.5em;
  font-size: 2em;
  border: 6px outset #ff8f66;
}

.address {
  text-align: center;
  padding:1em;
  display:inline-block;
  font-size: 2.5em;
  border: 6px outset #ff8f66;
  margin-left: 2em;

}

.icons {
  margin-left:1em;
}

#footer {
    background-color: whitesmoke;
    color: black;
    font-family: Imprima, sans-serif;
    height: 2em;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 1.25em;
    margin-top: 2em;
    padding-left: 1em;
    padding-top: 0.5em;
    border-top: 4px solid;
    border-color: #F0450C;
}

h2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 4em;
    border: 8px outset #F0450C;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

h3 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 3em;
    border: 8px outset orange;
    padding:0.3em;
    margin-left: 5em;
    margin-right:6em;

}

h4 {
    font-size: 4em;
    margin-top: 0em;
    margin-left: 1.5em;
}

h5 {
  text-align: center;
  font-family: Amatic SC;
  color:white;
  font-size: 4.5em;
  border: 8px outset darkorange;
  padding:0em;
  margin:auto;
  margin-top:1em;
  background-color: orange;
}

#footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#footer li {
    float: left;
    font-family: Amatic SC;
    font-size: 1.5em;
    text-decoration: none;
    padding-left: 0.5em;
  }

#top img {
    margin: 0;
    width: 100%;
}


.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 600px;
    height: 400px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}
#content > h2 {
    text-align: center;
    font-family: Amatic SC;
    background-color: orange;
    border: 8px outset darkorange;
    color:white;
    font-size: 4em;
    border: none;
    margin-left: 0.75em;
    margin-right:0.5em;
    margin-top: 1.1em;
    padding: 0.2em;
}

#map > img {
    width: 90%;
    margin-left: 2.5em;
}

#directions > h2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 3em;
    border: none;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

#directions > div > h2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 2em;
    border: 8px outset orange;
    margin-left: 5em;
    margin-right:6em;
    padding:0.2em;
}

#directions > div > h3 {
    text-align: left;
    font-family: Amatic SC;
    font-size: 2em;
    border: none;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

#directions > div > table {
    font-family: Amatic SC;
    font-size: 1.5em;
    width: 95%;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    margin-left:1.75em;
    font-weight: 700;
    text-align: center;
}

th {
    height: 40px;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    width: 300px;
}

td {
    height: 25px;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    width: 300px;
}

td > a {
    color: black;
}


#directions > div > p {
    text-align: left;
    font-family: Amatic SC;
    font-size: 1.5em;
    border: none;
    margin-left: 1.25em;
    margin-right:0.5em;
    padding:0.2em;
}

#list > p {
    text-align: left;
    font-family: Amatic SC;
    font-size: 1.5em;
    margin-left: 1.25em;
    margin-right:0.5em;
    margin-bottom:0.25em;
    margin-top:0.25em;
    padding:0.2em;
}

button {
  margin-left: 1.25em;
  background: #f25c59;
  background-image: -webkit-linear-gradient(top, #f25c59, #f0d287);
  background-image: -moz-linear-gradient(top, #f25c59, #f0d287);
  background-image: -ms-linear-gradient(top, #f25c59, #f0d287);
  background-image: -o-linear-gradient(top, #f25c59, #f0d287);
  background-image: linear-gradient(to bottom, #f25c59, #f0d287);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #f5a61e;
  -moz-box-shadow: 0px 1px 3px #f5a61e;
  box-shadow: 0px 1px 3px #f5a61e;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 125px;
  align-self: center;
}

button:hover {
  background: #f7e491;
  background-image: -webkit-linear-gradient(top, #f7e491, #f2e399);
  background-image: -moz-linear-gradient(top, #f7e491, #f2e399);
  background-image: -ms-linear-gradient(top, #f7e491, #f2e399);
  background-image: -o-linear-gradient(top, #f7e491, #f2e399);
  background-image: linear-gradient(to bottom, #f7e491, #f2e399);
  text-decoration: none;
}

#photos > img {
    margin-left: 7em;
}

#buttons {
    margin-left: 30em;
}

#gallery > h2 {
  font-family: Amatic SC;
  background-color: orange;
  color: white;
  font-size: 4em;
  border: 8px outset darkorange;
  margin-left: 0.75em;
  margin-right:0.5em;
  margin-top: 1.1em;
  padding:0.2em;
}


#schedule > h3 {
    text-align: left;
    font-family: Amatic SC;
    font-size: 2em;
    border: none;
    margin-left: 0.5em;
    margin-right:0.5em;
    padding:0.2em;
}

#schedule > table {
    font-family: Amatic SC;
    font-size: 1.5em;
    width: 95%;
    border: 1px;
    border-color: #F88017;
    border-style: solid;
    margin-left:1.75em;
    font-weight: 700;
    text-align: center;
}



/* button code learnt from http://css3buttongenerator.com/ */
